@url: '../img/';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
}
html {
  font-size: 100px;
}
.layout, .loading, .phone {
  width: 100%;
  height: 100%;
}
.loading {
  display: none;
}
.phone {
  display: block;
}
.layout {
  max-width: 640px;
  margin: 0 auto;
  position: relative;
  .loading {
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    .title {
      height: 1.4rem;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      color: #fff;
      transform: translateY(-1.5rem);
      h1 {
        font-size: .5rem;
        text-align: center;
        height: 0.75rem;
      }
      h3 {
        font-size: .26rem;
        text-align: center;
        height: 0.45rem;
        margin-top: .2rem;
        letter-spacing: .04rem;
      }
    }
    .progress {
      width: 4.6rem;
      height: 0.3rem;
      background-color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      transform: translateY(1rem); 
      border-radius: .2rem;
      .pro-inner {
        width: 0;
        height: 100%;
        background: -webkit-linear-gradient(left bottom, #5cb85c 0%, #5cb85c 25%, #74c274 25%, #74c274 50%, #5cb85c 50%, #5cb85c 75%, #74c274 75%, #74c274 100%);
        border-radius: .2rem;
        background-size: .3rem .3rem;
        animation: runt 1s linear infinite;
        background-repeat: repeat;
        transition: all 0.3s linear 0s;
      }
    }
  }
  .phone {
    background: url(../img/zf_phoneBg.jpg) no-repeat;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    .tittle {
      color: #fff;
      width: 2.62rem;
      height: 1.25rem;
      margin: 0 auto;
      margin-top: .5rem;
      text-align: center;
      h2 {
        font-size: .6rem;
      }
      h5 {
        margin-top: .2rem;
        font-size: .2rem;
      }
    }
    .currenttime {
      color: #fff;
      text-align: center;
      font-size: .4rem;
      margin-top: .5rem;
    }
    .phoneanswer {
      width: 5.2rem;
      height: 3.6rem;
      position: absolute;
      left: 50%;
      margin-left: -2.6rem;
      bottom: .3rem;
      background: url('@{url}zf_phoneListen.png') no-repeat;
      background-size: contain;
      a {
        position: absolute;
        right: -.07rem;
        bottom: .47rem;
        width: 1.6rem;
        height: 1.6rem;
        border: 3px solid red;
        border-radius: 50%;
        animation: runScale 2s linear infinite;
      }
    }
    .phonecall {
      display: none;
      width: 5.2rem;
      height: 6.59rem;
      position: absolute;
      left: 50%;
      margin-left: -2.6rem;
      bottom: .3rem;
      background: url('@{url}zf_phoneDetail.png') no-repeat;
      background-size: contain;
      a {
        position: absolute;
        left: 50%;
        margin-left: -.8rem;
        bottom: .28rem;
        width: 1.6rem;
        height: 1.6rem;
        background: red;
        opacity: 0;
        border-radius: 50%;
      }
    }
  }
}

@keyframes runt {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 0 -.3rem;
  }
}
@keyframes runScale{
  0 {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}